body { background-image: url("background.png"); background-size: 100%;}

div { display:block; margin:auto; }

#mainmenu { background:#FFFFFF; width: 50%; padding: 10px; }

#menu123 { display:none; }

#menu123 { position:absolute; left:400px; top:260px; }

#menu123>ul.list { 
	position:absolute; left:30px; top:-30px; z-index:999;
	width:300px;
	margin:0; padding:10px; list-style:none;
	background:#fff; color:#0000AE;
	-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;
	-moz-box-shadow:0 0 5px #999; -webkit-box-shadow:0 0 5px #999; box-shadow:0 0 5px #999
}
.menu>ul.list li {
	padding:10px;
	border-bottom: solid 1px #ccc;
}
.menu>ul.list li:hover {
	background:#0000AE; color:#FFFFFF;
}
.menu>ul.list li:last-child { border:none }
