#path3634 { opacity: 0.0; }
#GrpPVPanel:hover #text7098 { fill: #FFFFFF; } 
#GrpPVPanel:hover #path3634 { opacity: 0.5; fill: #0000AA; }

#circle3636 { opacity: 0.0; }
#GrpEV:hover #text7922 { fill: #FFFFFF; } 
#GrpEV:hover #circle3636 { opacity: 0.5; fill: #0000AA; }

#path7686 { opacity: 0.0; }
#GrpSupercap:hover #text7912 { fill: #FFFFFF; } 
#GrpSupercap:hover #path7686 { opacity: 0.5; fill: #0000AA; }

#path7723 { opacity: 0.0; }
#GrpHVAC:hover #text7682 { fill: #FFFFFF; } 
#GrpHVAC:hover #path7723 { opacity: 0.5; fill: #0000AA; }

#path7738 { opacity: 0.0; }
#GrpResidAppliance:hover #text7856 { fill: #FFFFFF; } 
#GrpResidAppliance:hover #path7738 { opacity: 0.5; fill: #0000AA; }

#path7786 { opacity: 0.0; }
#GrpThermalStorage:hover #text7695 { fill: #FFFFFF; } 
#GrpThermalStorage:hover #path7786 { opacity: 0.5; fill: #0000AA; }





