#ggeneration:hover #pgeneration { opacity:1.0; fill:#FF0000; }
#gtransmission:hover #ptransmission { opacity:1.0; fill:#0000FF; }
#gtransmission2:hover #ptransmission2 { opacity:1.0; fill:#00FF00; }
#gcustomer:hover #pcustomer { opacity:1.0; fill:#000000; }
