<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Bootstrap Theme Company Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/style.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<table class="table table-hover">
  <thead>
    <tr>
      <th>Model Name: 
      <input type="text" class="form-control" /></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"> <label for="unm">Name and Affiliation of Author: </label>
      <input type="text" class="form-control" id="unm" /> <br>
      <td><label for="dop">Date of Publication: </label>
      <input type="text" class="form-control" id="dop" /></td>
     </th>
       <td><label for="txtMsym">Model Symbol:</label> <br>
      	<textarea  class="form-control" rows="3" id="txtMsym"></textarea></td>
      <td><label for="txtAcc">Accredition:</label> <br>
      	<textarea  class="form-control" rows="3" id="txtAcc"></textarea></td>
    </tr>
  </tbody>
</table>
<div class="container-fluid">
  <h1>Hello World!</h1>
  <p>Resize the browser window to see the effect.</p>
  <div class="row">
    <div class="col-xs-9 col-md-7" style="background-color:red;">.col-xs-9 .col-md-7</div>
    <div class="col-xs-3 col-md-5" style="background-color:lavender;">.col-xs-3 .col-md-5</div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-md-10" style="background-color:lavenderblush;">.col-xs-6 .col-md-10</div>
    <div class="col-xs-6 col-md-2" style="background-color:lightgrey;">.col-xs-6 .col-md-2</div>
  </div>
  <div class="row" style="background-color:lightcyan;">
    <div class="col-xs-6">.col-xs-6</div>
    <div class="col-xs-6">.col-xs-6</div>
  </div>
</div>
</body>
</html>